
body{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;    
    background: linear-gradient(180deg, #032250 0%, rgba(1, 7, 15, 0.82) 100%);
    color: #ffff;
    min-height: 100vh;
}

header{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.h-1-size{
    font-size: 4vh;
}

.title-size{
    font-size: 5vh;
}

.text-size{
    font-size: 3vh;
    margin-bottom: 0;
}

.info{     
    margin-bottom: 8vh;
}

.btn{
    border-radius: 10%;
}

.mars{
    margin-top: 3rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 45rem; 
    height: 45rem; 
    background: url(img/mars.png) no-repeat; 
    background-size:70%;
    background-position: 54% 59%;
    border: thin solid rgb(175, 175, 175);
    z-index: 1;
   
}

.orbit{
    position: relative;
    top: 50px;
    left: 12%;
    border-radius: 50% 50% ;
    width: 34rem; 
    height: 34rem; 
    border: thin solid rgb(175, 175, 175);
    z-index: 2;
}

.demos{
    position: relative;
    top: -10px;
    left: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 23px;
    height: 23px; 
    background: rgb(255, 255, 255); 
    border: solid rgb(175, 175, 175) 2px;
     /* задать анимацию «moving» к текущему элементу */

    animation: moving 40s infinite linear;
    
    /* указать точку координат, вокруг которой будет вращаться объект */
    transform-origin: 0px 370px ;
}


.phobos{
    position: relative;
    top: -10px;
    left: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 23px;
    height: 23px; 
    background: rgb(255, 255, 255); 
    border: solid rgb(175, 175, 175) 2px;
    z-index: 3;
     /* задать анимацию «moving» к текущему элементу */

    animation: moving 15s infinite linear;
    
    /* указать точку координат, вокруг которой будет вращаться объект */
    transform-origin: 0px 280px ;
}

.start-btn{
    background: linear-gradient(180deg, rgba(12, 235, 237, 1) 0%, rgba(46, 137, 147, 1) 100%);
    color:#ffff;
}


.grey{
    color: rgb(140, 140, 140)
}
/* 
.footer{
    max-height: 100vh;
} */

@keyframes moving {
    100% {transform: rotate(360deg);}
}
