/* div{
    border:solid tomato
} */

@font-face {
    font-family:  'Oswald';
    src: url('fonts/Oswaldregular.woff') format('woff'), url('fonts/Oswaldregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body { 	
	font-family: 'Oswald';
    caret-color: transparent;
    
}

a {
    text-decoration:none;
}


a:hover{
    color: rgb(199, 199, 199);
}

.underline{
    text-decoration:underline #16C772 12px;
}

header{
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/header-background.jpg);
    height: 900px;
}

.textGrey{
    color: rgb(199, 199, 199);
}

.textDarckGrey{
    color: #7B6F6F;
}

.borderGreen{
    border:solid 7px #16C772
}

.greyBackground{
    background-color: rgb(199, 199, 199);
}

.darckGreyBackground{
    background-color: #252525;
}

.markGreen{
    color: #252525;
    background: rgb(37,37,37);
    background: linear-gradient(0deg, rgba(37,37,37,1) 15%, rgba(22,199,114,1) 15%, rgba(22,199,114,1) 79%, rgba(37,37,37,1) 79%);
}

.argImg{
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/arg.jpg);   
}

.krivImg{
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/kriv.jpg);   
}

.gruImg{
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/gru.jpg);   
}


.hig{
    min-height: 900px;
}